<footer class="bg-gray-50">
    <div class="xl:w-4/5 container mx-auto h-64 pt-5 py-2 text-gray-400">
        <h1 class="text-3xl font-thin">@Copy right;</h1>
        uView为了方便用户写字体，通过SCSS生成了一套样式类，专门用于定位字体的大小。<br/>
        对于字体，不同用户可能有喜欢px，也有喜欢rpx单位的， 一般来说，在uni-app上，rpx单位最终表现出来的大小数值为px的两倍左右，<br/> <br/> 也就是说，24rpx和12px的字体大小是差不多的。
        <br/> uView为此提供了一个类u-font-x，这个x为10-40之间(包含10和40)，当x >= 10 && x < 20时，表现为px性质，当x >= 20 && x <= 40时，表现为rpx性质。
    </div>


    <div class="cookie-agreement fixed left-0 bottom-0 w-screen bg-gray-800 text-white py-2">
        <div class="container xl:w-4/5 mx-auto">
            <text>同意使用cookie</text>
        </div>
    </div>
</footer>